<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="sistema.avdf.varzeagrande" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>
<!--
  <connectionStrings>
    <add name="EfContext" connectionString="Data Source=.\bin\db\DbADFVGMT.db;" providerName="System.Data.SQLite.EF6" />
  </connectionStrings> 
  -->
  <connectionStrings>
    <add name="idbavdf" connectionString="Server=67266d6c-26b8-4ce0-87ef-a7a2013bd241.sqlserver.sequelizer.com;Database=db67266d6c26b84ce087efa7a2013bd241;User ID=lnldplnynbddamgh;Password=fQVndd6jaHEHzSemYnjFbwmuKzAm4bxpHzE5uSaxGqgb57EW64sVtRrQCzKLKTp8;" />
    <!--<add name="idbcitystate" connectionString="server=robb0152.publiccloud.com.br:3306;User Id=ellus_luizhst;Password=Ol3or19$;Persist Security Info=True;database=elluscosmeticos_idbcitystate" providerName="MySql.Data.MySqlClient" />-->
    <add name="idbmysql" connectionString="server=d2bc5f7b-2c43-4038-9de9-a7a7009d623c.mysql.sequelizer.com;database=dbd2bc5f7b2c4340389de9a7a7009d623c;uid=hugbeejmadjglfpl;pwd=sN23N5RL4RUr33mqYyuD5XzyNCDtsJJ3FqwSvjSufKhzwfKg4eydYhECoAojzxss;" />
    <add name="idbellus" connectionString="server=robb0152.publiccloud.com.br:3306;database=elluscosmeticos_idbcitystate;uid=ellus_luizhst;pwd=r8gRg1^0;" />
  </connectionStrings> 
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
